BasedOnStyle: Google

# Note: This does not affect empty body function,
# that was not obvious for me
AllowShortBlocksOnASingleLine: Never

AllowShortFunctionsOnASingleLine: Empty

AllowShortLambdasOnASingleLine: Empty
